doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
  title SSP Virtual Asssistants | Real Estate Virtual Assistants
  link(rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css")
  link(rel="stylesheet" href="assets/css/Contact-Form-Clean.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css")
  link(rel="stylesheet" href="assets/css/rainmakers.css")
  link(rel="icon" href="assets/img/favicon.ico")
body
  block content
footer
  .container
    .row
      .col-md-4
        span.copyright Copyright&nbsp;&copy; SSPVAs 2021
      .col-md-4
        ul.list-inline.social-buttons
          li.list-inline-item
          li.list-inline-item
            a(href="https://www.facebook.com/SSPVirtualAssistants/")
              i.fa.fa-facebook
          li.list-inline-item
      .col-md-4
        ul.list-inline.quicklinks
          li.list-inline-item
            a(href="www.seanpe.com" style="color: #c1c1c1;") Design By Sean Pe
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js")
script(src="assets/js/bs-init.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")
script(src="assets/js/rainmakers.js")
