extends base1.pug

block content
  section#thankyou.py-3.blue-background(style="padding: 60px;padding-bottom: 60px;")
    .container
      #thankyou.row
        .col
          h1(style="font-size: 18px;") Thank You
          h1(style="font-family: Amiko, sans-serif;font-size: 40px;") Your message has been sent. Please wait for a response from us.
          a(class="btn btn-success; color:white" href="/") Go Back 